@model List<HashSet<string>>
@{
    Layout = null;
}
<title>Directed Graph</title>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/network.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/graph/graphModel.js"></script>
<style type="text/css">
    /*#network {
        width: 50%;
        height: 100%;
        padding: 50px;
        margin: 50px;
    }*/
    .disabled-btn {
        display: none;
    }
</style>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<script>
    angular.module("sampleApp", []).controller("defaultCtrl", function ($scope) {
        $scope.currentGraphTabIndex = 0;
        var isInit = false;

        $scope.init = function () {
            $scope.graphArray = new Array();
            for (var i = 0; i < model.length; i++) {
                $scope.graphArray.push(new graphModel(model[i]));
            }
            isInit = true;
        }
        $scope.draw = function () {
            // create a network view
            var network = new links.Network(document.getElementById('network'));
            var dot = 'digraph {node[shape=rectangle];' + $scope.graphArray[$scope.currentGraphTabIndex].current + '}'; //razor will encode model, for disable this - Html.Raw(string)
            var data = links.Network.util.DOTToNetwork(dot);
            // draw the data
            network.draw(data.nodes, data.edges, data.options);
            // resize the network when window resizes
            window.onresize = function () {
                network.redraw();
            };
        }

        $scope.$watchCollection("graphArray.modelState", function () {
            //finding current slider position
            $scope.draw();
            if (isInit) {
                var i = $scope.graphArray[$scope.currentGraphTabIndex].graphModel.index();
                if (index <= $scope.graphArray[$scope.currentGraphTabIndex].length - 1) {
                    $scope.graphArray[$scope.currentGraphTabIndex].nextClass = 'disabled-btn';
                    $scope.graphArray[$scope.currentGraphTabIndex].prevClass = 'btn btn-primary';
                } else
                    $scope.graphArray[$scope.currentGraphTabIndex].prevClass = 'disabled-btn';
                $scope.graphArray[$scope.currentGraphTabIndex].nextClass = 'btn btn-success';
            }
        }, true);
        $scope.prevState = function () {
            $scope.graphArray[$scope.currentGraphTabIndex].prevState();
        }
        $scope.nextState = function () {
            $scope.graphArray[$scope.currentGraphTabIndex].nextState();
        }

    });
</script>
<body ng-app="sampleApp">
    <div class="panel panel-default">
        <div class="panel-heading">Graphs</div>
        <div class="panel-body">
            <div ng-controller="defaultCtrl" ng-init="init()" data-ng-init="draw()">
                <div class="row">
                    <div id="tabs">
                        <ul>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <li><a ng-click="currentGraph = @i" href="@String.Format("#tab{0}",i)">Tab @i</a></li>
                            }
                        </ul>

                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <div id="@String.Format("tab{0}",i)">
                                <div class="col-xs-2">
                                    <div class="well">
                                        <button type="button" ng-class="prevClass" value="" ng-click="prevState()">Previous</button>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div id="network">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="well">
                                        <button type="button" ng-class="nextClass" value="" ng-click="nextState()">Next</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @*<button type="button" value="Рисовать" ng-click="draw()">Рисовать</button>*@
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <script type="text/javascript">

        // parse data in DOT-notation
        var model = new Array();
        @foreach (var item in Model)
        {
           @:strArray = new Array();
                                           foreach (var str in item){
                @:strArray.push("@Html.Raw(str)");
                                             }
        @:model.push(strArray);
                      }

    </script>
</body>
